<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
<nav>
        <ul class="navmenu">
            <li v-for="(menu, index) in menus" :key="index" class="list">
                <a :href="menu.link">{{ menu.name }}</a>
                <ul v-if="menu.subMenus">
                    <li v-for="(subMenu, subIndex) in menu.subMenus" :key="subIndex">
                        <a :href="subMenu.link">{{ subMenu.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        </ul>
    </nav>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    menus: [
                        { name: '最新消息', link: 'new.html' },
                        {
                            name: '園區介紹',
                            link: 'about.html',
                            subMenus: [
                                { name: '門票資訊', link: 'about.html#price' },
                                { name: '園區導覽', link: 'about.html#map' },
                                { name: '園區沿革', link: 'about.html#story' },
                                { name: '動物寫真', link: 'about.html#photo' },
                            ]
                        },
                        {
                            name: '牧場體驗',
                            link: 'activity.html',
                            subMenus: [
                                { name: '活動總覽', link: 'activity.html#allact' },
                                { name: '手作工坊', link: 'activity.html#actblock' },
                                { name: '烤肉方案', link: 'activity.html#bbq' },
                            ]
                        },
                        {
                            name: '小農產品',
                            link: 'shop.html',
                            subMenus: [
                                { name: '純乳系列', link: 'milkshop.html' },
                                { name: '常溫點心', link: 'milkshop.html' },
                                { name: '文創商品', link: 'milkshop.html' },
                                { name: '全部商品', link: 'milkshop.html' },
                            ]
                        },
                        { name: '常見問題', link: 'QA.html' },
                        { name: '登入', link: '' },
                    ]
                };
            }
        }).mount('#app');
    </script>
</body>
</html>